.page-template-contact main.site-main {
    padding-top: 100px;
    margin: 0 auto;
}

div.entry-header-container{
    top:-20px;
    padding-bottom: 75px;
    width: 100%;
    background-color: #fff;

}

body.page-template-contact .entry-header {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #2EB688;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    margin:0;
    position: fixed;
}

// .page-template-contact .entry-title {
//     text-transform: uppercase;
//     margin-bottom: 0;

//     margin-top: 0;
// }

.page-template-contact a.scroller {
    padding-top: 20px;
}

div.entry-content {
    width: 95%;
    margin: 0 auto;
}

p.in-touch {
    font-size: 22px;
}

p.send-message {
    font-size: 20px;
}

input.wpcf7-form-control {
    width: 70%;
    height: 45px;   
}

input.contact_number{
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 45px;
}

select.contact_subject,
select.contact_schools,
select.contact_grade {
    width: 70%;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff
}

textarea.contact_message {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 15rem;
}

div.submit_form {  
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
}

input.wpcf7-submit {
    width: 60%;
    color:white;
    background-color: #4FC8A1;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px; 
    margin: 0 auto;
}

p.like_us{
    font-size: 22px;
}

p.contact-brand {
    font-weight: 700;
    font-size: 22px;
}

p.address {
    font-size: 22px;
    margin: 0
}

@media screen and (min-width: 1240px) {


body.page-template-contact .entry-header {
    margin-top: 1px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 2px solid #2eb688;
    width: 100%;
    z-index: 3;
}

.page-template-contact .entry-title {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 40px;
    margin-top: 15px;
}

.page-template-contact a.scroller {
    font-size: 35px;
    margin-bottom: 0;

}


input.contact_name,
input.contact_email,
input.contact_number,
select.contact_subject,
select.contact_schools,
select.contact_grade {
    width: 70%;
}

textarea.contact_message {
    width: 90%;
}

div.submit_form {  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 91%;
}

input.wpcf7-submit {
    width: 15%;
    height: 60px;
    color:white;
    background-color: #4FC8A1;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin:0;
}

}
