/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.content-front-page{
 width: 480px;

 .main-picture {
	background: url("../../images/header-pic2.jpg")  100%, linear-gradient( rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) );
	width:480px;
    height: 211px;
    background-size: 100% auto;
 }
.welcome-text{
width: 481px;
height: 355px;
background-color: rgba(0,0,0,0.74);
color:white;

}
.welcome{
width: 466.66px;
height: 42px;
font-family: Asap;
font-size: 36px;
line-height: 42px;
color: #FFFFFF; 
padding-top:5%;
margin-top:0px;
}
.border{
box-sizing: border-box;
width: 119.23px;
height: 4px;
border: 3px solid #FFFFFF;
margin-top:7%;
}

.myButton{
    margin-left:34%;
}
.support{
    width: 449.57px;
height: 160px;
font-family: "Noto Sans";
font-size: 20px;
line-height: 40px;
color: #FFFFFF;
margin-left:20px;
}
.myButton {
	background-color:#eb675e;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}
.quick-links{
  margin-left: 5%;
  font-size:30px;
  font-weight: lighter;
    h2{
        margin-top:12%;
        margin-bottom: 12%;
    }
}

.benefits-of{
    width: 449.57px;

font-family: "Noto Sans";
font-size: 20px;
line-height: 40px;
color: #FFFFFF;
margin-left:20px;
ul,li{
    width: 377px;
padding-left:0px;
font-family: "Noto Sans";
font-size: 25px;
line-height: 40px;
color: #000000;
}
}
.benefits-button {
	background-color:#4FC8A1;
	border-radius:6px;
margin-left: 10%;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:27px;
    font-weight: bold;
	padding:10px 15px;
	text-decoration:none;
	width: 320px;
   height: 67px;
   font-family: "Noto Sans";
    text-align: center; 
}
.benefits-button:hover {
	background-color:#eb675e;
}
.benefits-button:active {
	position:relative;
	top:1px;
}
.we-need{
    text-align: center;
}





.nw-program{
    width: 449.57px;

font-family: "Noto Sans";
font-size: 20px;
line-height: 40px;
color: #FFFFFF;
margin-left:20px;
p{
 
font-family: "Noto Sans";
font-size: 25px;

color: #000000;
margin-top:10%;
margin-bottom:10%;
}
.parra{
   
    margin-bottom: 10%;
    margin-bottom: 10%;
       width: 377px;
}
}
.nw-button {
	background-color:#4FC8A1;
	border-radius:6px;
margin-left: 17%;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
    font-weight: bold;
	padding:10px 15px;
	text-decoration:none;
	width: 320px;
   height: 67px;
   font-family: "Noto Sans";
    text-align: center; 
}
.nw-button:hover {
	background-color:#eb675e;
}
.nw-button:active {
	position:relative;
	top:1px;
}



.line{
  box-sizing: border-box;
width: 410px;
height: 2px;
border: 2px solid #2EB688;  
margin-left: 5%;
}



.get-involved{
width: 449.57px;
height: auto;
font-family: "Noto Sans";
font-size: 25px;
line-height: 40px;
color: #FFFFFF;
margin-left:20px;
p{
    width: 377px;
    

font-family: "Noto Sans";
font-size: 25px;
line-height: 40px;
color: #000000;
}
}
.get-button {
	background-color:#eb675e;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
    font-weight: bold;
	padding:10px 15px;
	text-decoration:none;
	width: 320px;
   height: 67px;
   font-family: "Noto Sans";
    text-align: center; 
    margin-left:5%;
}
.get-button:hover {
	background-color:#eb675e;
}
.get-button:active {
	position:relative;
	top:1px;
}
.we-need{
    width: 377px;
margin-left:20px;
font-family: "Noto Sans";
font-size: 25px;
line-height: 46px;
color: #000000;
p{
    width: 377px;

font-family: "Noto Sans";
font-size: 25px;
line-height: 46px;
color: #000000;
}
.quote-block{
    .quote-line{
width: 6.34px;
height: 165px;
background-color: #D93B57;
    }
    .quote-voluntering{
     width:325px;

    }
}
}

.pie-graph{
  background: url("../../images/pie-graph.jpg")  100%, linear-gradient( rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) );
	width: 287px;
   height: 468px;
    background-size: 100% auto; 
    margin-left: 17%;
}
.featured{
    text-align: center;
}
}





/*Footer*/
.footer-container{
    background-color:#125A50 ;
    width:480px;
    height: auto;
.footer-menu{
    p,a, li,ul {
        text-decoration: none;
        color:white;
        font-size:18px;
        list-style: none;
        display: inline-block;
        padding-left: 10px;
        padding-right: 9px;
}
}
.address-info,a{
    color:white;
    font-size:16px;
}
.email{
    text-align: end;
    margin-right: 10%;
}
.copyright{
    color:white;
    font-size:16px;
    text-align: center;
    p{
    margin-bottom: 0px;
    padding-bottom: 30px;
}
}
.address-info{
    p{
        display:none;
    }
}

}

