.page-template-what-is-montessori main.site-main {
    padding-top: 100px;

}

div.entry-header-container{
    top:-20px;
    padding-bottom: 75px;
    background-color: #fff;
    z-index: 100;
}

.entry-header {
    margin-top:1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #2EB688;
    width: 100%;
    z-index: 3;
 
}

.entry-title {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 25px;
}

a.scroller {
    font-size: 20px;
    padding-top: 5px;
    padding-right: 0;
    }
a.scroller:visited {
    margin-bottom: 0;
    color: #000;
    }

.navigation-sub-nav{
        padding-top: 30px;
        position: fixed;
        width: 100%;
        top: 93px;
        left: 0;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        text-decoration: none;
        display:flex;
        background: #248E6A;
    }
    
    a{
        color:white;
        border-right: solid;
        font-size:20px;
        flex-wrap: wrap;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 15px;
        margin-top: 0px;

    }    
}

div.content-container{
    width: 95%;
    margin: 0 auto;
}

h1.section-title,
h1.primary-title {
    font-size: 33px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

section.montessori-info {
    padding-bottom: 5rem;
    border-bottom: 2px solid #2EB688;
}

.history-of-montessori:after {
        content: ' ';
        display: table;
        clear: both;
}

p {
    font-size: 22px;
}

div.blocks-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.philosophy-blocks1,
div.philosophy-blocks2,
div.philosophy-blocks3,
div.philosophy-blocks4,
div.philosophy-blocks5,
div.philosophy-blocks6 {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    width: 40%;
    background-color: #AFF1D3;
    margin: 2rem 15px;
    align-items: center;
    justify-content: center;

        &.active {
        background-color: #fff;
        border: solid 1px #2EB688
    }

}

div.block-content1,
div.block-content2,
div.block-content3,
div.block-content4,
div.block-content5,
div.block-content6 {
    
    display: none;

    &.active {
    display: block;
    }
}

img.block-image1,
img.block-image2,
img.block-image3,
img.block-image4,
img.block-image5,
img.block-image6 {
    width: auto;
    height: 110px;
    
    &.active {
    display: none;
    }

}

h3.content-title,
h3.block-title,    
{    
text-decoration: none;
font-family: "Noto Sans";
font-size: 22px;
font-weight: bold;
text-align: center;
line-height: 27px;
color: #248E6A;
margin-top: 0;
margin-bottom: 0

}

.benefits-list li {
    font-size: 22px;
    margin: 2.5rem 0;
}

.binomial {
    padding-bottom: 5rem;
}


@media screen and (min-width: 1240px) {

    .entry-header{
        display: none;

    }

    .navigation-sub-nav{

        position: fixed;
        width: 100%;
        top: 50px;
        left: 0;
        right: 0;
        
        ul {
         padding-top: 10px;
         padding-bottom: 5px;   
        }
        a {
            font-size: 25px;
            padding-top: 0;
        }   
}
    
    blockquote p{
        font-size: 30px;
        border-left: solid 12px #DC3957;
        padding-left: 60px;
        margin-left: 100px;
    }

    .right-quote blockquote p{
        
        border-right: solid 12px #DC3957;
        border-left: none;
        padding-right: 60px;
        margin-left: 550px;
    }

    

    div.philosophy-blocks1,
    div.philosophy-blocks2,
    div.philosophy-blocks3,
    div.philosophy-blocks4,
    div.philosophy-blocks5,
    div.philosophy-blocks6 {

        width: 30%;
        border-radius: 10px;

    }

    img.block-image1,
    img.block-image2,
    img.block-image3,
    img.block-image4,
    img.block-image5,
    img.block-image6 {
    width: auto;
    height: 200px;
    }

    .materials:after {
            content: ' ';
            display: table;
            clear: both;
    }


    .benefits-list li {
        font-size: 22px;
        margin: 2.5rem 0;
    }

}

